<!DOCTYPE html>
<html ng-app="grovyApp">
<head>
  <meta charset="utf-8" />
  <title>Meteo Station Massimo Manganiello</title>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div ng-controller="GrovyCtrl">
  <div class="controls">
    <div class="form-group">
      <label for="periodSelect">Select Period:</label>
      <select id="periodSelect" class="form-control" ng-model="selectedPeriod" ng-options="x for x in period" ng-change="manualUpdate()"></select>
    </div>
    <div class="form-group">
      <label for="dateInput">Select Date:</label>
      <input id="dateInput" class="form-control" type="date" ng-model="day" ng-change="manualUpdate()">
    </div>
    <button class="btn btn-primary" ng-click="manualUpdate()">Manual Update</button>
  </div>
<div class="chart-wrapper" style="margin-bottom: 20px;">
    <div class="chart-container">
        <canvas id="custom-chart"></canvas>
    </div>
</div>
<div id="loading-icon" class="loading-overlay">
    <div class="loader-container">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
</div>
  <!-- Main JS -->
  <script src="js/moment.js"></script>
  <script type="module" src="js/drawChart.js"></script>
  <script type="module" src="js/main.js"></script>
</body>
</html>
